<h1>Our Cookbook</h1>

<ol>
    <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ol>

<%= link_to 'View recipes sorted by most ingredients', recipes_sorted_path %>